
body {
  font-family: "Inter";
  margin: 0;
}
:root {
  --main-color: #141414;
  --accent-color: #26c7ea;
  --add-color: #0a3853;
  --white: #fff;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
button,
p,
li,
a {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1060px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)
    ),
    url(../image/header-bg.jpg);
  background-repeat: no-repeat;
  width: 1440px;
  padding-top: 39px;
  padding-bottom: 39px;
  border-bottom: 3px solid #fff;
  height: 150px;
  /* display: flex;
  justify-content: space-between; */
}
.logo-header {

}
.navigation-list {
  display: flex;
  align-items: center;
  padding-left: 168px;
}
.flex-nav {
  display: flex;
}
.nav-item {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
/* .nav-item +.nav-item {
  padding-right: 38px;
} */
.nav-button {
  width: 141px;
  height: 41.694px;
  flex-shrink: 0;
  color: #26c6ea;
  text-align: justify;
  font-family: HeadlandOne, snt-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
  margin-left: 212px;
}
.switch {
  width: 36px;
  height: 20px;
  color: #fff;
  text-align: center;
  font-family: Hammersmith One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-switch {
  display: flex;
}
.hero-section {
  background-image: url(../image/hero-section-bg.jpg);
  background-repeat: no-repeat;
  height: 740px;
  width: 1440px;
  margin-bottom: 75px;
  padding-top: 180px;
}
.hero-section-item {
  color: #fff;
  font-size: 20px;
  line-height: normal;
  width: 298px;
  /* padding-bottom: 42px; */
}
.hero-section-img {
  width: 152px;
  height: 40px;
}
.hero-section-button {
  width: 199px;
  color: #26c7ea;
  text-align: center;
  font-family: HeadlandOne;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
  text-align: center;
  margin-top: 42px;
}
.hero-list-img {
  width: 30px, 34px, 50px;
  height: 30px;
}
.important-title {
  color: var(--add-color);
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 16px;
}
.important-desc {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 8px;
}
.important-img {
  width: 400px;
  height: 120px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.trailer {
  background-image: url(../image/trailer-bg.jpg);
  background-repeat: no-repeat;
  height: 741px;
  width: 1440px;
  flex-shrink: 0;
  padding-top: 330px;
  padding-bottom: 330px;
  margin-bottom: 75px;
}
.trailer-btn {
  width: 260px;
  height: 80px;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
  color: #26c7ea;
  font-family: HeadlandOne;
  font-size: 24px;
  display: block;
  margin: 0 auto;
}
.language {
  background-image: url(../image/language-bg.jpg);
  background-repeat: no-repeat;
  height: 741px;
  width: 1440px;
}
.language-title {
  text-align: center;
  font-family: HeadlandOne;
  font-size: 32px;
  font-weight: 400;
  padding-top: 58px;
  padding-bottom: 45px;
}
.language-subtitle {
  text-align: center;
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 36px;
  /* 100% */
}
.language-img {
  width: 152px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
}
.language-info {
  color: #000;
  text-align: center;
  font-family: HeadlandOne;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 40px;
  /* 100% */
}
.language-list {
  gap: 35px;
  row-gap: 24px;
  display: flex;
  flex-wrap: wrap;
}
.language-item {
   width: 320px;
  height: 240px;
  background: rgba(255, 255, 255, 0.7);
  flex-basis: calc((100% - 72px) / 3);
  margin: 0 auto;
}
.footer {
  background-image:linear-gradient(to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.8)), url(../image/footer-bg.jpg);
  background-repeat: no-repeat;
  width: 1440px;
  height: 223px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.logo-footer {
  width: 183px;
  height: 70px;
}
.logo-footer-line {
  width: 2px;
    height: 153px;
  /* margin-left: 80px;
  display: block; */
}
.footer-list-info {
  color: var(--white);
  font-size: 20px;
  line-height: normal;
}
.phone {
  color: var(--white);
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
